.carousel {
    position: relative;
    padding: 81px 0;
    margin: 0 auto;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
    }
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    img {
        width: 31px;
        height: 50px;
    }
}
.slick-next{
    right: -66px;
    left: auto;
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.slick-dots button {
    background: rgba($color: #D3D3D3, $alpha: 0.56); // цвет фона
    border: none; // без рамки
    border-radius: 100%; // радиус закругления
    height: 15px; // высота точки
    width: 15px; // ширина точки
    margin: 5px; // отступы между точками
    outline: none; // убираем обводку 
} 
.slick-dots li[class="slick-active"] button {
    background: $main-color;
} 
.slick-dots li button { 
    font-size: 0; 
 } 
 